<!DOCTYPE html>
<html>
  <head>
    <title><%=posts[0].topic_id%></title>
  </head>
  <body>
    <h1>posts</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/topics">Topics</a>
      <a href="/users">Users</a>
      <a href="/posts">Posts</a>
      <a href="/add-post">Add Post</a>
      <a href="/search">Search</a>
      <a href="/about">About</a>
    </nav>

    <% posts.forEach(post => { %>
    <div
      class="post"
      style="border: 1px solid black; margin: 10px; padding: 10px"
    >
      <p><strong>Topic:</strong> <%= post.topic_name %></p>
      <h2><%= post.title %></h2>
      <p><strong>User:</strong> <%= post.username %></p>
      <p><strong>Content:</strong> <%= post.content %></p>
      <p><strong>Created At:</strong> <%= post.created_at %></p>
    </div>
    <% }); %>
  </body>
</html>
